<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>
<body>
		
	<section class="layout-content" layout:fragment="corpo">	
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Home</span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container">
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<a class="list-group-item list-group-item-action active"
							id="list-spring-boot-list" data-toggle="list" href="#spring-boot"
							role="tab" aria-controls="spring-boot">Spring-Boot</a> <a
							class="list-group-item list-group-item-action" id="list-sts-list"
							data-toggle="list" href="#sts" role="tab" aria-controls="sts">Intellij
							IDEA</a> <a class="list-group-item list-group-item-action"
							id="list-thymeleaf-list" data-toggle="list" href="#thymeleaf"
							role="tab" aria-controls="thymeleaf">Thymeleaf</a> <a
							class="list-group-item list-group-item-action"
							id="list-webjars-list" data-toggle="list" href="#webjars"
							role="tab" aria-controls="webjars">WebJars</a> <a
							class="list-group-item list-group-item-action"
							id="list-hibernate-list" data-toggle="list" href="#hibernate"
							role="tab" aria-controls="hibernate">Hibernate</a> <a
							class="list-group-item list-group-item-action"
							id="list-bootstrap-list" data-toggle="list" href="#bootstrap"
							role="tab" aria-controls="bootstrap">Bootstrap 4</a>
					</div>
				</div>
				<div class="col-8">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="spring-boot"
							role="tabpanel" aria-labelledby="list-spring-boot-list">
							<a href="https://projects.spring.io/spring-boot/">Spring Boot</a>
							Torna fácil criar aplicações independentes e de nível de produção baseadas no Spring,
							que você pode "simplesmente executar".
							Nós temos uma visão opinativa da plataforma Spring e das bibliotecas de terceiros,
							para que você possa começar com o mínimo de complicações.
							A maioria das aplicações Spring Boot precisa de muito pouca configuração do Spring.
						</div>
						<div class="tab-pane fade" id="sts" role="tabpanel"
							aria-labelledby="list-sts-list">
							O <a href="https://spring.io/tools">Intellij IDEA</a>
							é uma popular e avançada ferramenta de desenvolvimento usada por programadores para criar aplicativos em diversas linguagens de programação.
							Com recursos como edição de código inteligente, depuração, refatoração e testes integrados,
							ele oferece uma interface de usuário intuitiva e é
							reconhecido por sua alta produtividade e eficiência no
							desenvolvimento de software. Disponível em diferentes edições,
							incluindo uma versão gratuita, o IntelliJ IDEA é amplamente utilizado na indústria de desenvolvimento de software.
						</div>
						<div class="tab-pane fade" id="thymeleaf" role="tabpanel"
							aria-labelledby="list-thymeleaf-list">
							<a href="http://www.thymeleaf.org/">Thymeleaf</a> é uma moderna engine de templates Java para o lado do servidor,
							que pode ser utilizado tanto em ambientes web como em ambientes autônomos.
							Com módulos para o Spring Framework, uma série de integrações com suas ferramentas favoritas e a capacidade de adicionar sua própria funcionalidade,
							o Thymeleaf é ideal para o desenvolvimento web JVM com HTML5 nos dias de hoje, embora tenha muito mais a oferecer.
						</div>
						<div class="tab-pane fade" id="webjars" role="tabpanel"
							aria-labelledby="list-webjars-list">
							<a href="https://www.webjars.org/">WebJars</a> são bibliotecas web do lado do cliente (por exemplo, jQuery e Bootstrap)
							empacotadas em arquivos JAR (Java Archive).
						</div>
						<div class="tab-pane fade" id="hibernate" role="tabpanel"
							aria-labelledby="list-hibernate-list">
							<a href="http://hibernate.org/orm/">Hibernate ORM</a> permite que os desenvolvedores escrevam mais facilmente aplicativos cujos dados sobrevivem ao processo do aplicativo.
							Como um framework de Mapeamento Objeto/Relacional (ORM),
							o Hibernate está relacionado à persistência de dados em bancos de dados relacionais (por meio do JDBC). <br />
							Além de sua própria API "nativa", o Hibernate também é uma implementação da especificação Java Persistence API (JPA).
							Dessa forma, ele pode ser facilmente usado em qualquer ambiente que suporte JPA, incluindo aplicativos Java SE,
							servidores de aplicativos Java EE, containers Enterprise OSGi, entre outros.
						</div>
						<div class="tab-pane fade" id="bootstrap" role="tabpanel"
							aria-labelledby="list-bootstrap-list">
							<a href="https://getbootstrap.com/">Bootstrap</a> é um conjunto de ferramentas de código aberto para desenvolvimento com HTML, CSS e JS.
							Prototipe rapidamente suas ideias ou construa todo o seu aplicativo usando nossas variáveis e mixins Sass,
							sistema de grade responsiva, extensos componentes pré-construídos e poderosos plugins baseados no jQuery.
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>		
</body>
</html>